@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic:wght@400;700;800&display=swap');
.contantWrapper{
    width: 100%;
    height: 80px;
}
.contantInput{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    text-indent: 5px;
    outline: none;
    background-color:rgb(130, 216, 216);
    color: #FFF;
    font-size: 18px;
    box-shadow: 5px 5px 23px 0px rgb(0, 92, 116);
}

.sendButtonWrapper{
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
}

.postWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.headerText{
    font-size: 20px;
    color: rgb(0, 92, 116);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
.secondPostWrapper{
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}